export("[.mapfile")
export("[[.mapfile")
export("[[<-.mapfile")
export("[<-.mapfile")
export(bashRhipeArchive)
export(hdfs.getwd)
export(hdfs.setwd)
export(print.mapfile)
export(rh.init.cache)
export(rhabsolute.hdfs.path)
export(rhcacheStats)
export(rhclean)
export(rhcp)
export(rhdel)
export(rherrors)
export(rhex)
export(rhfmt)
export(rhget)
export(rhgetkey)
export(rhinit)
export(rhjoin)
export(rhkill)
export(rhload)
export(rhls)
export(rhmap)
export(rhmapfile)
export(rhmr)
export(rhofolder)
export(rhoptions)
export(rhput)
export(rhread)
export(rhsave.image)
export(rhsave)
export(rhstatus)
export(rhsz)
export(rhuz)
export(rhwatch)
export(rhwrite)
