export(hdfs.getwd)
export(hdfs.setwd)
export(rhcp)
export(rhdel)
export(rhex)
export(rhget)
export(rhgetkey)
export(rhinit)
export(rhjoin)
export(rhkill)
export(rhload)
export(rhls)
export(rhmr)
export(rhoptions)
export(rhput)
export(rhread)
export(rhsave)
export(rhsave.image)
export(rhstatus)
export(rhsz)
export(rhuz)
export(rhwatch)
export(rhwrap)
export(rhwrite)
